/* Fonts */

/* Kyiv Type */
@font-face {
  font-family: "Kyivtype_sansregular";
  src: url(./fonts/kyivtypesans-vargx-webfont.woff2) format("woff2"),
    url(./fonts/kyivtypesans-vargx-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Circular Std */
@font-face {
  font-family: "Circular_stdmedium";
  src: url("./fonts/circular-std-medium-500-webfont.woff2") format("woff2"),
    url("./fonts/circular-std-medium-500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Inter */
@font-face {
  font-family: "Inter_regular";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v12-cyrillic_latin-regular.woff2") format("woff2");
}

/* Custom propaties */
:root {
  --violet: #4a1373;
  --violet-light: #6d22b3;
  --white: #ffffff;
  --black: #202020;
  --box-border-radius: 12px;
  --radius-button: 36px;
}

/* Index.html */

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* !!!Navigation */
nav {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 20px 40px 20px 40px;
}

.nav-center-ul {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
}

.button1 {
  background-color: var(--violet-light);
  color: var(--white);
  border-radius: var(--radius-button);
  width: 70px;
  height: 22px;
}
.button1:hover {
  background-color: var(--white);
  color: var(--violet-light);
  border-color: var(--violet-light);
}

/* !!!Header section */

.main-page-femrozmovy {
  background-image: url(./Images/Hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-page-center {
  display: grid;
  justify-content: center;
  justify-items: center;
  color: var(--white);
  text-align: center;
  gap: 20px;
  padding: 150px 180px 180px 180px;
}

.logo-rotate:hover {
  animation-name: logo-rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Animation */
@keyframes logo-rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359deg;
  }
}

.button2 {
  background-color: var(--white);
  color: var(--violet);
  border-radius: var(--radius-button);
  width: 95px;
  height: 22px;
}
.button2:hover {
  background-color: #ffc222;
  color: var(--white);
  border-color: var(--violet-light);
}

/* !!!What we do section  */
.what-we-do-container {
  display: grid;
  justify-content: center;
  background: #f4eef9;
  padding: 10px 30px 10px 30px;
}

.what-we-do-list {
  display: grid;
  grid-template-rows: 350px 350px;
  padding: 10px 30px 10px 30px;
  gap: 10px;
}
.what-we-do-read,
.what-we-do-watch,
.what-we-do-meet {
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid #d7d7d7;
  border-radius: var(--box-border-radius);
  text-align: justify;
  justify-content: space-around;
  padding: 20px;
}

.what-we-do-meet {
  background: var(--violet);
  color: var(--white);
  justify-content: space-around;
}

.we-read {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.we-watch {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 20px;
}

/* bullets */
li.book-list::before {
  content: url("./Images/Rectangle\ 1.svg");
  margin-right: 8px;
}
li.movie-list::before {
  content: url("./Images/Rectangle\ 2.svg");
  margin-right: 8px;
}
li.discussing::before {
  content: url("./Images/Rectangle\ 3.svg");
  margin-right: 8px;
}

/* !!!Join us section */
.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 136px;
  margin: 40px 50px 30px 50px;
  gap: 20px;

  left: calc(50% - 1040px / 2);
  top: calc(50% - 312px / 2);

  background: linear-gradient(90deg, #9747ff, #ffc222);
  border-radius: 20px;
}

.button3 {
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--radius-button);
  width: 70px;
  height: 22px;
}
.button3:hover {
  background-color: transparent;
  color: var(--black);
  border-color: var(--black);
}

/* !!!Upcoming events section  */

.events {
  background-color: #f2f2f2;
  display: grid;
  padding: 40px 50px 30px 50px;
}

.upcoming-events {
  justify-content: left;
}

.events123 {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.event1,
.event2,
.event3 {
  display: grid;
  justify-content: center;
  width: 200px;
  height: 250px;
  background: var(--white);
  border: 1px solid #d7d7d7;
  border-radius: var(--box-border-radius);
  padding: 20px;
}

/* !!!Footer */

footer {
  background-color: var(--black);
  display: grid;
  padding: 40px 50px 30px 50px;
  color: var(--white);
}

img.footer-main-logo {
  width: 130px;
  height: 80px;
}

div > a {
  color: var(--white);
}
div > a:first-child {
  color: var(--violet-light);
}

.footer-allrights {
  color: var(--white);
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f4eef9;
}

.footer-main-center {
  display: grid;
  gap: 10px;
}

.footer-allrights {
  display: flex;
  justify-content: space-between;
}

/* fonts */
h2 {
  font-family: "Kyivtype_sansregular";
  font-size: 30px;
  line-height: 124%;
  letter-spacing: -0.02em;
  color: #000000;
}

h3 {
  font-family: "Kyivtype_sansregular";
  font-size: 13px;
  line-height: 124%;
  letter-spacing: -0.03em;
  color: #202020;
}
h1 {
  font-family: "Circular_stdmedium";
  font-size: 37px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

h3.event {
  font-family: "Circular_stdmedium";
  font-size: 12px;
  line-height: 110%;
  color: #000000;
}
.what-we-do-meet h3 {
  color: var(--white);
}

p.event {
  font-family: "Circular_stdmedium";
  font-size: 12px;
  line-height: 140%;
  color: #696969;
}

.nav-center-ul,
.button1,
.button2,
.button3,
.discussing,
.footer-main-center,
.book-list,
.movie-list,
.sidebar p {
  font-family: "Inter_regular";
  font-size: 12px;
  line-height: 124%;
  letter-spacing: -0.02em;
}

.become-member {
  font-family: "Inter_regular";
  font-size: 14px;
  line-height: 26px;
  color: #d0b9e7;
}

.join-women {
  font-family: "Inter_regular";
  font-size: 12px;
  line-height: 124%;
  color: #ffffff;
}
.about_us_text,
.what-we-discussed-text {
  font-family: "Inter_regular";
  font-size: 11px;
  line-height: 124%;
  color: #535353;
}

.footer-allrights p,
label {
  font-family: "Inter_regular";
  font-size: 7px;
  line-height: 132%;
  letter-spacing: -0.02em;
  color: #f4eef9;
}
label {
  color: #202020;
}
/* About_us.html */

.about-us-main-section {
  justify-content: center;
  background-color: #f4eef9;
  text-align: center;
  padding: 60px 150px 60px 150px;
}
.about_us {
  border-bottom: 1px solid var(--violet-light);
  width: 360px;
}

/* Join_us.html */

.lets-talk {
  background-color: var(--white);
  display: grid;
  justify-content: column;
}
.form {
  border: var(--violet);
}

.lets-talk-main {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  align-items: start;
  padding: 40px 30px 30px 100px;
  gap: 40px;
}
.letsstart {
  align-items: start;
}


input,
.comment-input {
  background-color: #f2f2f2;
  border-radius: 8px;
}
input:focus {
  outline: none;
  border-color: var(--violet-light);
}

.comment-input:focus {
  outline: none;
  border-color: var(--violet-light);
}

/* What-we-discussed.html */

.what-we-discussed-main {
  background: #f2f2f2;
  padding: 40px 50px 40px 100px;
}

.what-we-discussed-wrapper {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 40px;
}
.what-we-discussed {
  border-bottom: 1px solid var(--violet-light);
  width: 600px;
  text-align: center;
  justify-content: center;
}

.what-we-discussed-list {
  align-self: flex-end;
}
.sidebar {
  flex-basis: 400px;
}

.nav-center-ul li a {
  color: #4a4c57;
}

@media screen and (min-width: 640px) {
  /* Navigation */
  .button1,
  .button3 {
    width: 140px;
    height: 44px;
  }

  .button2 {
    width: 190px;
    height: 44px;
  }

  .nav-center-ul {
    display: flex;
  }

  /* fonts */
  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 26px;
  }
  h1 {
    font-size: 75px;
  }

  h3.event {
    font-size: 24px;
  }

  p.event {
    font-size: 14px;
  }

  .nav-center-ul,
  .button1,
  .button2,
  .button3,
  .discussing,
  .footer-main-center,
  .book-list,
  .movie-list,
  .sidebar p {
    font-size: 15px;
  }

  .become-member {
    font-size: 18px;
  }

  .join-women {
    font-size: 22px;
  }
  .about_us_text,
  .what-we-discussed-text {
    font-size: 22px;
  }

  .footer-allrights p,
  label {
    font-size: 14px;
  }

  .events123 {
    display: flex;
    flex-direction: row;
  }
  .what-we-do-container {
    display: flex;
    flex-direction: row;
  }

  .event1,
  .event2,
  .event3 {
    display: grid;
    justify-content: center;
    width: 25%;
    height: 350px;
    left: calc(50% - 270px / 2 - 310px);
    top: 235px;
    background: var(--white);
    border: 1px solid #d7d7d7;
    border-radius: var(--box-border-radius);
    padding: 20px;
  }

  .what-we-do-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: 350px;
    padding: 40px 50px 30px 50px;
    gap: 20px;
  }
  .img_movie {
    padding-top: 10px;
  }
}
